:root {
    --bg-col: #bfdbf7;
    --box-bg-col: #e1e5f2;
    --bor-col: #bfdbf7;
    --text-col: #022b3a;
    --link-col: #1f7a8c;
    --link-hover-col: #9d858d;
}
.rubik-<uniquifier > {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.box {
    border: 5px var(--bor-col) solid;
    background-color: var(--box-bg-col);
    border-radius: 10px;
    min-width: 33%;
    max-width: 50%;
    margin: 10px;
    padding: 10px;
}
.sideNav {
    position: fixed;
    width: 0;
    text-align: left;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 50px;
    background-color: var(--box-bg-col);
    border-right-style: solid;
    transition: 500ms;
    border: none;
    border-color: var(--bor-col);
}

.sideNav .closebutton {
    position: absolute;
    font-size: 18pt;
    top: 0px;
    left: 0px;
    font-size: 30px;
    font-family: "Rubik";
    font-weight: 900;
    padding-bottom: 17px;
}

.sideNav a {
    display: block;
    padding: 12px 8px;
    font-size: 18pt;
    text-decoration: none;
    transition: 300ms;
}

.openButton {
    position: absolute;
    border-radius: 5px;
    transition: 400ms;
    top: 10px;
    left: 5px;
    overflow-x: 0;
    z-index: 1;
    cursor: pointer;
    font-size: 30px;
    font-family: "Rubik";
    font-weight: 900;
}

.openButton:hover {
    color: var(--link-col);
    transition: 300ms;
}

#main {
    transition: 300ms;
    display: flex;
    flex-direction: row;
    padding: 50px 35px;
    background: var(--bg-col);
}
html {
    color: var(--text-col);
    height: auto;
    margin: 0px;
}
body {
    margin: 0px;
}
head {
    display: block;
}

a:any-link {
    color: var(--link-col);
}
a:any-link:hover {
    color: var(--link-hover-col);
    cursor: pointer;
}

a {
    color: var(--text-col);
    font-family: "Rubik";
    font-weight: bold;
    transition: color 500ms;
}

h1 {
    font-family: "Rubik";
    font-weight: 900;
    text-align: center;
}

h2 {
    font-family: "Rubik";
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

p {
    font-family: "Bree Serif";
    font-size: 16pt;
}

img {
    margin: 10px auto;
    display: block;
    width: auto;
    max-width: 100%;
    border: 2px var(--bor-col) solid;
    border-radius: 15px;
}
