.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rubik-<uniquifier > {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.box {
    border: 5px #dbd8ae solid;
    background-color: #eae4d3;
    border-radius: 10px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    box-shadow: 5px 5px 10px #101636;
}
.sideNav {
    position: fixed;
    max-width: 300px;
    min-width: auto;
    text-align: left;
    height: 100%;
    overflow-x: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eae4d3;
    border: 5px #dbd8ae;
    border-right-style: solid;
}

.sideNav a {
    display: block;
    padding: 9px;
    font-size: 18pt;
    text-decoration: none;
}

.sideNav a:active {
    text-decoration: underline;
}
.sideNav a:hover {
    color: #88beda;
}
.sideNav h1 {
    padding-left: 35px;
    padding-right: 35px;
    margin: 0px;
    padding-top: 10px;
}
.infoBox {
    width: 50%;
}

.imageBox {
    width: 800px;
    padding: 15px;
}

html {
    background-image: linear-gradient(30deg, #0c3653, #88beda);
    color: #a25e53;
    height: auto;
}

a:any-link:hover {
    color: #88beda;
}

a {
    color: #c9545d;
    font-family: "Rubik";
    font-weight: bold;
    transition: color 500ms;
}

h1 {
    font-family: "Alfa Slab One";
    text-align: center;
    text-decoration: underline;
}
h2 {
    font-family: "Alfa Slab One";
    text-align: center;
    text-decoration: none;
    font-weight: 150;
}
p {
    font-family: "Bree Serif";
    font-size: 16pt;
    margin-left: 15px;
    margin-right: auto;
}

img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    width: 750px;
    border: 2px #dbd8ae solid;
    border-radius: 15px;
    padding: 0px;
}
