@font-face {
    font-family: "Iosevka";
    font-weight: normal;
    src: url("Iosevka.otf") format("opentype");
}

:root {
    --bg-col: #181818;
    --box-bg-col: #292929;
    --bor-col: #383838;
    --text-col: #ffffff;
    --link-col: #7bc8c4;
    --link-hover-col: #af9cff;
    font-family: "Iosevka";
    font-weight: normal;
    color: var(--text-col);
    min-height: 100%;
    max-height: auto;
    margin: 0px;
    border-width: 2pt;
    border-color: var(--bor-col);
    border-style: solid;
}

:any-link {
    color: var(--link-col);
}
:any-link:hover {
    color: var(--link-hover-col);
    cursor: pointer;
}

.box {
    border: 2px var(--bor-col) solid;
    background-color: var(--bg-col);
    min-width: 20%;
    max-width: 50%;
    margin: 10px auto;
    padding: 0;
    height: auto;
}

.sideNav {
    position: fixed;
    text-align: left;
    overflow-x: hidden;
    width: 0;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 50px;
    transition: 500ms;
    border-color: var(--bor-col);
    background-color: var(--bg-col);
}

.sideNav a {
    display: block;
    font-size: 18pt;
    text-decoration: none;
    transition: 300ms;
    margin: 0;
    padding: 4pt;
    border-width: 0 0 2pt 0;
    border-color: var(--bor-col);
    border-style: solid;
    background-color: var(--box-bg-col);
}

.sideNav .closebutton {
    position: absolute;
    font-size: 22pt;
    top: 0;
    left: 0px;
    font-weight: 900;
    margin: 0px;
    width: 300pt;
    border-top-width: 2pt;
}

.sideNav .closebutton:hover {
    cursor: pointer;
    color: var(--link-hover-col);
}

.openButton {
    position: absolute;
    transition: 400ms;
    top: 0px;
    left: 0px;
    overflow-x: 0;
    z-index: 1;
    cursor: pointer;
    font-size: 22pt;
    font-weight: 900;
    background-color: var(--box-bg-col);
    border-width: 2pt;
    border-color: var(--bor-col);
    border-style: solid;
    padding: 4pt;
}

.openButton:hover {
    color: var(--link-hover-col);
    transition: 300ms;
}

#main {
    transition: 300ms;
    display: flex;
    flex-direction: column;
    padding: 50px 35px;
    background: var(--bg-col);
}

h1 {
    font-weight: 900;
    text-align: center;
    background-color: var(--box-bg-col);
    width: auto;
    margin: 0;
    border-width: 0 0 2pt 0;
    border-color: var(--bor-col);
    border-style: solid;
    padding: 4pt;
}

h2 {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

p {
    text-align: justify;
    font-size: 16pt;
    padding: 0 20pt;
}

a {
    font-weight: bold;
    transition: color 500ms;
}

img {
    margin: 10px auto;
    display: block;
    width: auto;
    max-width: 100%;
    border: 2px var(--bor-col) solid;
}

ul {
    list-style-type: none;
    font-size: 14pt;
}

li {
    padding: 5pt;
}
