:root {
    --bg-col: #bfdbf7;
    --box-bg-col: #e1e5f2;
    --bor-col: #bfdbf7;
    --text-col: #022b3a;
    --link-col: #1f7a8c;
    --link-hover-col: #9d858d;
}

.box {
    border: 5px var(--bor-col) solid;
    background-color: var(--box-bg-col);
    border-radius: 10px;
    min-width: 100%;
    margin: 10px;
    padding: 10px;
    height: auto;
}

#main {
    transition: 300ms;
    display: flex;
    flex-direction: row;
    padding: 50px 35px;
    background: var(--bg-col);
}
